/* Reset padding and margin for all elements */
* {
  padding: 0;
  margin: 0;
}

/* Center-align all h2 headings */
h2 {
  text-align: center;
}

/* Container for all task columns */
.container-tasks {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
  /* Space evenly between columns */
  align-items: flex-start;
  /* Prevent other columns from stretching */
}

/* Common styles for all task columns */
.tasks-onhold,
.tasks-onprogress,
.tasks-done {
  width: 27%;
  /* Set column width */
  padding: 10px;
  min-height: 100px;
  border-radius: 20px;
  color: aliceblue;
  /* Text color */
}

/* Individual column background colors */
.tasks-onhold {
  background-color: blue;
}

.tasks {
  margin: 5px 0;
  padding: 5px;
}

.task {
  display: flex;
  justify-content: space-between;
}

/* Individual task item */
.task-item {
  margin: 10px 0;
  padding: 0;
}

/* Task text content styling */
.task-info {
  /* Hide overflow text */

  overflow: hidden;
  /* Show ... for overflow */
  text-overflow: ellipsis;


}

/*Task filter styling*/
.filter-tasks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.taskform {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 15px;
  color:aliceblue
}
/* Task actions container (icons) */
.task-action {
  display: flex;
  align-items: center;
}

/* Trash icon styling */
.trash {
  color: white;
  background-color: rgb(220, 19, 19);
  cursor: pointer;
  font-size: 25px;
  border-radius: 5px;
  padding: 4px;
}

/* Edit icon styling */
.pencil {
  color: white;
  background-color: rgb(201, 180, 19);
  border-radius: 5px;
  padding: 4px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  margin-right: 10px;

}

.warning-box {
  position: fixed;
  top: 30%;
  left: 50%;
  width: 350px;
  transform: translate(-50%, -50%);
  animation: appear 0.5s ease-in-out 0s 1 normal forwards;
  color: white;
  border-radius: 10px;
  z-index: 1000;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* Footer styling */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  z-index: 1000;
}